{% extends 'index.html' %}

{%block content%}
<body>
    <form action="POST" class="col container g-2">
        <div class="col">
            <label class="form-label">Email</label>
            {{ form.email }}
        </div>
        <div class="col">
            <label class="form-label">Senha</label>
            {{ form.email }}
        </div>
        <div class="col">
            <label class="form-label">Confirme a senha</label>
            {{ form.email }}
        </div>
        <button type="submit">Clicar</button>
    </form>
</body>
</html>
{% endblock %}
